<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="{mapper}" >
  <resultMap id="BaseResultMap" type="com.tuhanbao.base.dataservice.ServiceBean" >
  </resultMap>
  
  <resultMap id="SeqMap" type="com.tuhanbao.base.dataservice.SeqBean" >
  	<result column="ID" property="id" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Filter_Where_Clause" >
    <if test="filter.items != null">
	  <where>
		<foreach collection="filter.items" item="item" separator="" >
		  ${item.getMyBatisSql()}
		    <if test="item.isList()">
		      <foreach collection="item.listValue()" item="listItem" open="(" close=")" separator="," >
		        #{listItem}
		      </foreach>
		    </if>
		  </foreach>
	  </where>
    </if>
    ${filter.getOrderSql()}
  </sql>
  
  <insert id="insert" {mysql_insert}parameterType="com.tuhanbao.base.dataservice.ServiceBean" >
    insert into ${_parameter.getTable().getName()} (${_parameter.getColumns()}) values (${_parameter.getMyBatisColumnValueStr()})
  </insert>
  <delete id="deleteByFilter" parameterType="map" >
    delete from ${table.getName()}
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </delete>
  <update id="updateByFilter" parameterType="map" >
    update ${model.getTable().getName()} set ${model.getMyBatisUpdateValueStr()}
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </update>
  <update id="updateSelective" parameterType="map" >
    update ${model.getTable().getName()} set ${model.getMyBatisUpdateValueStrSelected()}
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </update>
  <select id="countByFilter" parameterType="com.tuhanbao.web.filter.SelectorFilter" resultType="java.lang.Integer">
    select count(1) from ${_parameter.getTable().toString()}
    <if test="_parameter.filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.tuhanbao.web.filter.SelectorFilter" >
    <include refid="CutPagePrefix" />
    select 
    <foreach collection="_parameter.getSelectColumns()" item="column" separator="," >
      ${column.getNameWithAs()}
    </foreach>
    from ${_parameter.getTable().toString()}
    <if test="_parameter.filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <include refid="CutPageSuffix" />
  </select>
  <select id="excuteSql" resultType="Map" parameterType="com.tuhanbao.web.db.MyBatisSqlSentence" >
    ${_parameter.getSql()}
  </select>
  <select id="nextVal" resultMap="SeqMap" parameterType="java.lang.String" >
    select ${_parameter}.nextval as id from dual
  </select>
{cutpage}
</mapper>